.character-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    padding: 16px; /* Ajout d'un peu de marge autour de votre grille */
}

.character-card {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s, box-shadow 0.3s; /* Effet de transition doux */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.character-card:hover {
    transform: scale(1.05); /* Agrandit légèrement */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Ombre plus intense lors du survol */
}

.character-card img {
    max-width: 100%; /* Assurez-vous que l'image ne dépasse pas la largeur de la carte */
    border-radius: 8px;
    margin-bottom: 8px;
}

/* Pour gérer la responsivité et ajuster le nombre de colonnes selon la largeur de l'écran */
@media (max-width: 1200px) {
    .character-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .character-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .character-list {
        grid-template-columns: repeat(1, 1fr);
    }
}
